In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
file = '../raw_data/PONV_data.csv'

In [3]:
raw_df = pd.read_csv(file, index_col=0)

## The following script is a hybrid of EDA and cleaning raw data downloaded from https://data.mendeley.com/datasets/gsnj8vmgm2/1.

#### Describe all features in data set

In [4]:
raw_df.describe(include='all').iloc[:,:10]

,sex,age,Apfel,previous.ponv,postoperative.opioids,non.smoker,surgical.procedure,surgery.group,chronic opioid user,previous.chemotherapy
count,1945,1945.000000,1945.000000,1945,1945,1945,1945,1945,1905,1945
unique,2,NaN,NaN,2,2,2,25,11,2,2
top,Female,NaN,NaN,False,True,True,Cirurgia Gastrointestinal,Gastrointenstinal Surgery,False,False
freq,1172,NaN,NaN,1514,1408,1413,461,572,1653,1242
mean,NaN,57.735219,2.283290,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,13.787941,0.977869,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,14.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,49.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,59.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,67.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,96.000000,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
raw_df.describe(include='all').iloc[:,10:20]

,how.many.months.ago.chemotherapy,chemotherapy.emetogenicity,post.chemotherapy.nausea,post.chemotherapy.vomiting,ever.smoked,anesthesia.technique,neuraxial.opioid,intraoperative.opioid,remifentanil,fentanil.mcg
count,669.000000,615,734,747,1945,1945.000000,1432,1944,1945,1945.000000
unique,NaN,4,2,2,2,NaN,2,2,2,NaN
top,NaN,b.low(10-30%),True,False,False,NaN,True,True,False,NaN
freq,NaN,261,386,464,1058,NaN,1176,1806,1589,NaN
mean,13.029178,NaN,NaN,NaN,NaN,3.138303,NaN,NaN,NaN,192.611913
std,33.094539,NaN,NaN,NaN,NaN,1.466673,NaN,NaN,NaN,267.248842
min,0.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0.000000
25%,1.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0.000000
50%,3.000000,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,0.000000
75%,10.000000,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,350.000000
max,360.000000,NaN,NaN,NaN,NaN,6.000000,NaN,NaN,NaN,3000.000000

In [6]:
raw_df.describe(include='all').iloc[:,20:30]

,sufentanil.mcg,continuous.sufentanil,tramadol.pacu,tramadol.dose.pacu,intraoperative.ketamine,ketamine.dose,intraoperative.morphine,intraoperative.morphine.dose,ondansetron.intraoperative,intraoperative.ondansetron.dose
count,1945.000000,1945,1945,1945.000000,1945,1944.000000,1943,1932.000000,1945,1941.000000
unique,NaN,2,2,NaN,2,NaN,2,NaN,2,NaN
top,NaN,False,False,NaN,False,NaN,False,NaN,True,NaN
freq,NaN,1924,1855,NaN,1806,NaN,1636,NaN,1543,NaN
mean,21.676401,NaN,NaN,3.753213,NaN,2.210648,NaN,0.680642,NaN,6.109222
std,45.799991,NaN,NaN,17.824036,NaN,10.501403,NaN,1.868191,NaN,3.256148
min,0.000000,NaN,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000
25%,0.000000,NaN,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,4.000000
50%,0.000000,NaN,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,8.000000
75%,35.000000,NaN,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,8.000000
max,600.000000,NaN,NaN,100.000000,NaN,200.000000,NaN,10.000000,NaN,8.000000

In [7]:
raw_df.describe(include='all').iloc[:,30:40]

,intraoperative.dexamethasone,dexamethasone.dose,intraoperative.dimenidrate,intraoperative.dimenidrate.dose,Intraoperative.metoclopramide,metoclopramide.dose,intraoperative.droperidol,droperidol.dose,nausea.6h,vomiting.6h
count,1945,1937.000000,1945,1945.000000,1945,1945.000000,1945,1945.000000,1872,1866
unique,2,NaN,2,NaN,2,NaN,2,NaN,2,2
top,True,NaN,False,NaN,False,NaN,False,NaN,False,False
freq,1085,NaN,1931,NaN,1900,NaN,1931,NaN,1598,1714
mean,NaN,3.796593,NaN,0.246787,NaN,0.231362,NaN,0.034961,NaN,NaN
std,NaN,3.821282,NaN,3.049788,NaN,1.503748,NaN,0.435750,NaN,NaN
min,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,NaN
25%,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,NaN
50%,NaN,4.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,NaN
75%,NaN,8.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,NaN
max,NaN,10.000000,NaN,50.000000,NaN,10.000000,NaN,6.250000,NaN,NaN

In [8]:
raw_df.describe(include='all').iloc[:,40:50]

,rescue.antiemetic.6h,rescue.antiemetic.6h.which,postoperative.systemic.analgesic.regular,postoperative.systemic.analgesi.rescue,epidural.pca.24h,venous.pca.24h,regular.antiemetic,rescue.antiemetic,received.rescue.antiemetic,rescue.dexametasone
count,1827,1945.000000,1945.000000,1945.000000,1945,1945,1928,1923,1859,1937
unique,2,NaN,NaN,NaN,2,2,2,2,2,2
top,False,NaN,NaN,NaN,False,False,False,True,False,False
freq,1670,NaN,NaN,NaN,1664,1770,1180,1215,1526,1927
mean,NaN,3.853985,2.550129,2.033419,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,0.665327,2.353021,1.699193,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,4.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,4.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,4.000000,4.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,5.000000,12.000000,8.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
raw_df.describe(include='all').iloc[:,50:60]

,rescue.dimenidrate,rescue.bromopride,rescue.metoclopramide,regular.ondansetron,regular.dexamethasone,regular.dimenidrate,regular.bromopride,regular.metoclopramide,regular.droperidol,ever.smoked.1
count,1931,1938,1934,1936,1934,1933,1933,1933,1793,1945
unique,2,2,2,2,2,2,2,2,2,2
top,False,False,False,False,False,False,False,False,False,False
freq,1870,1392,1443,1264,1805,1924,1892,1713,1787,1058
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
raw_df.describe(include='all').iloc[:,60:67]

,when.stopped.smoking,packets.years,nausea.24h,ponv,nausea24h.intensity,vomiting24h,vomiting24h.count
count,1870,1739,1902,1902,1875.000000,1909,1896.000000
unique,5,60,2,2,NaN,2,NaN
top,e.never.smoked,0,False,False,NaN,False,NaN
freq,1058,1195,1325,1325,NaN,1582,NaN
mean,NaN,NaN,NaN,NaN,1.628267,NaN,0.955696
std,NaN,NaN,NaN,NaN,2.967622,NaN,2.525676
min,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000
25%,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000
50%,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000
75%,NaN,NaN,NaN,NaN,2.000000,NaN,0.000000
max,NaN,NaN,NaN,NaN,10.000000,NaN,10.000000

In [12]:
data_for_sql = raw_df.copy()

### Cleaning up how.many.months.ago.chemotherapy

In [13]:
raw_df['how.many.months.ago.chemotherapy'].isna().sum()

1276

#### Assuming that if the previous chemotherapy is False, how.many.months.ago should be 0
imputing 0 to null values in how.many.month.ago where previous.chemotherapy == False

In [14]:
data_for_sql[(data_for_sql['previous.chemotherapy'] == False) &
            data_for_sql['how.many.months.ago.chemotherapy']].iloc[:,5:12]

,non.smoker,surgical.procedure,surgery.group,chronic opioid user,previous.chemotherapy,how.many.months.ago.chemotherapy,chemotherapy.emetogenicity
num,,,,,,,
1559,False,Cistectomia,Urologic Surgery,False,False,12.0,b.low(10-30%)

In [15]:
# Fixing the one error above
data_for_sql.loc[1559,'previous.chemotherapy'] = True
data_for_sql.loc[1559,'previous.chemotherapy']

True

In [16]:
# Based on all the PCNV data, we can make an educated guess that ~704 patients are post-chemo.
data_for_sql[data_for_sql['previous.chemotherapy'] == True].shape

(704, 68)

In [17]:
# Fill all "how many months ago" to 0 if previous chemotherapy is false
data_for_sql['how.many.months.ago.chemotherapy'] = data_for_sql.apply(lambda row: 0 if \
                                                                     row['previous.chemotherapy'] == False else\
                                                                    row['how.many.months.ago.chemotherapy'], axis=1)

In [18]:
# Data unavailable for 35 patients with chemo. Filling with median of 3.
data_for_sql[data_for_sql['how.many.months.ago.chemotherapy'].isna()].shape

(35, 68)

In [19]:
data_for_sql[(data_for_sql['how.many.months.ago.chemotherapy']>0) &
            (data_for_sql['how.many.months.ago.chemotherapy']<120)].loc[:,'how.many.months.ago.chemotherapy'].median()

3.0

In [20]:
data_for_sql['how.many.months.ago.chemotherapy'].fillna(3, inplace=True)

### Chronic opioid user clean
My thought is to assume that the NaNs are false as ~87% of patients surveyed are chronice opioid users.

**Phase II:** Examine characteristics of true chronic opioid users and make an educated guess on whether the patient is a chronic user.

In [21]:
data_for_sql['chronic opioid user'].fillna(False, inplace=True)

## Chemotherapy emetogenicity
Will likely drop this column because post chemo nausea and vomiting are the same thing. For now for the purpose of data preservation, I will fill with an empty string ''.

In [22]:
# Missing approximately 90 data points. Maintain as Null.
data_for_sql['chemotherapy.emetogenicity'].isna().sum()

1330

In [23]:
# convert ['b.low(10-30%)'; 'c.moderate(30-90%)'; 'd.high(>90%)'; 'a.minimal(<10%)'] to ordinal int values
emeto_scale_dict = dict(zip(data_for_sql['chemotherapy.emetogenicity'].value_counts().index,\
                            [2, 3, 4, 1]))
data_for_sql['chemotherapy.emetogenicity'] = data_for_sql['chemotherapy.emetogenicity'].map(emeto_scale_dict)

In [24]:
data_for_sql['chemotherapy.emetogenicity'].fillna('', inplace=True)

I initially speculated that anybody with a False post-chemo meant they didn't receive chemo but the assumption is inconsistent with the fact that there are some patients who have PCNV despite not going through chemo.

In [25]:
chemo_nausea_mask = (data_for_sql['post.chemotherapy.nausea'] == True)
chemo_vomit_mask = (data_for_sql['post.chemotherapy.vomiting'] == True)
no_chemo_mask = (data_for_sql['previous.chemotherapy'] == False)
no_chemo_nv_pos = data_for_sql[chemo_nausea_mask & chemo_vomit_mask & no_chemo_mask].iloc[:,:20].index

In [26]:
#These 17 patients don't make sense so I'm dropping them
data_for_sql.drop(index=no_chemo_nv_pos, inplace=True)

In [27]:
# Patients with NA in these fields did not go through chemo
data_for_sql['post.chemotherapy.nausea'].fillna(False, inplace=True)
data_for_sql['post.chemotherapy.vomiting'].fillna(False, inplace=True)

In [28]:
#neuraxial.opioid data: should be able to glean the NA's from other columns
data_for_sql['neuraxial.opioid'].fillna('', inplace=True)

In [29]:
# 1 missing data for intraoperative opioid. Overwhelming majority receives opioids so assumed True.
data_for_sql['intraoperative.opioid'].fillna(True, inplace=True)

In [30]:
#data_for_sql[data_for_sql['intraoperative.ketamine'].isna()]
data_for_sql['ketamine.dose'].fillna('', inplace=True)

In [31]:
data_for_sql['intraoperative.morphine'].fillna('', inplace=True)
data_for_sql['intraoperative.morphine.dose'].fillna('', inplace=True)

In [32]:
# Fill NA dosage with median
data_for_sql[data_for_sql['intraoperative.ondansetron.dose'].isna()].loc[:,'ondansetron.intraoperative':'intraoperative.ondansetron.dose']
data_for_sql['intraoperative.ondansetron.dose'].fillna(data_for_sql['intraoperative.ondansetron.dose'].median(),inplace=True)

In [33]:
#fill dexamethasone.dose NA with median
data_for_sql[data_for_sql['dexamethasone.dose'].isna()].loc[:,'intraoperative.dexamethasone':'dexamethasone.dose']
data_for_sql['dexamethasone.dose'].fillna(data_for_sql['dexamethasone.dose'].median(),inplace=True)

In [34]:
# A few patients had no nausea with NaN info regarding vomiting. Assumed these patients did not vomit.
# As calculated below, about 55% of patients with nausea also vomitted. As we are trying to be sensitive to
# detecting nausea, I will assume vomit was negative for all the patients below
data_for_sql[(~data_for_sql['nausea.6h'].isna()) & 
             (data_for_sql['vomiting.6h'].isna())].iloc[:,38:40]

     nausea.6h vomiting.6h
num
1250      True         NaN
1148     False         NaN
935      False         NaN
1130      True         NaN
1152     False         NaN
589      False         NaN
1369      True         NaN

In [35]:
# A little over half of patients who were nauseous also vomitted. 
sum(data_for_sql['vomiting.6h']==True) / sum(data_for_sql['nausea.6h']==True)

0.5547445255474452

In [36]:
# assumed patients who suffered from nausea did not vomit; both the same for analysis purposes
data_for_sql['vomiting.6h'] = data_for_sql.apply(lambda row: False if ((row['nausea.6h'] is not np.nan) & 
                                                                       (row['vomiting.6h'] is np.nan)) \
                                                                         else row['vomiting.6h'], axis=1)

In [37]:
# Patient recorded pos for vomiting but neg for nausea; revised to be pos for both
data_for_sql[(data_for_sql['nausea.6h'].isna()) & 
             (data_for_sql['vomiting.6h'].notna())].iloc[:,38:40]
data_for_sql.loc[1354,'nausea.6h'] = True

In [38]:
# From deduction 'rescue.antiemetic.6h.which' == 4 appears to mean patient wasn't given anything. Rescue
# antiemetic == True & rescue == 4 likely incorrect. 
data_for_sql[(data_for_sql['rescue.antiemetic.6h.which'] == 4)&
             (data_for_sql['rescue.antiemetic.6h'] == True)].iloc[:,38:42]

     nausea.6h vomiting.6h rescue.antiemetic.6h  rescue.antiemetic.6h.which
num
650       True        True                 True                           4
1946      True        True                 True                           4
1817      True        True                 True                           4
1473      True       False                 True                           4
1156      True        True                 True                           4
1951      True        True                 True                           4

In [39]:
# Looking at patients with NaN for nausea.6h and vomiting.6h, given records say they did not receive an antiemetic
# filling as False
data_for_sql['nausea.6h'].fillna(False, inplace=True)
data_for_sql['vomiting.6h'].fillna(False, inplace=True)

In [40]:
data_for_sql['rescue.antiemetic.6h']=data_for_sql.apply(lambda row: False if row['rescue.antiemetic.6h.which'] == 4 else True, axis=1)

In [41]:
# Looking at patients with NaN for nausea.6h and vomiting.6h, given records say they did not receive an antiemetic
# filling as False
data_for_sql['nausea.6h'].fillna(False, inplace=True)
data_for_sql['vomiting.6h'].fillna(False, inplace=True)

In [42]:
data_for_sql[(data_for_sql['regular.antiemetic'].isna()) |
             (data_for_sql['rescue.antiemetic'].isna())].iloc[:,46:49].head(10)

     regular.antiemetic rescue.antiemetic received.rescue.antiemetic
num
1858                NaN               NaN                      False
863                 NaN              True                      False
416               False               NaN                        NaN
802                 NaN             False                      False
1356               True               NaN                      False
1335               True               NaN                      False
1327              False               NaN                      False
633                 NaN              True                      False
1368              False               NaN                      False
1431               True               NaN                      False

In [43]:
def print_val_counts(x):
    for y in range(x):
        print(data_for_sql.iloc[:,46+y].value_counts())

print_val_counts(3)

False    1170
True      741
Name: regular.antiemetic, dtype: int64
True     1202
False     704
Name: rescue.antiemetic, dtype: int64
False    1514
True      330
Name: received.rescue.antiemetic, dtype: int64

In [44]:
# I don't see a pattern here; will leave NaN as blanks and perhaps make assumptions on whether nan patients
# received regular antiemetic based on apfel and other factors
data_for_sql['regular.antiemetic'].fillna('', inplace=True)
data_for_sql['rescue.antiemetic'].fillna('', inplace=True)
data_for_sql['received.rescue.antiemetic'].fillna('', inplace=True)

In [45]:
data_for_sql['rescue.antiemetic.6h.which'].value_counts()

4    1771
1      92
3      32
5      30
2       3
Name: rescue.antiemetic.6h.which, dtype: int64

In [46]:
print(f'rescue.dexametasone: {(data_for_sql["rescue.dexametasone"] == True).sum()}')
print(f'rescue.dimenidrate: {(data_for_sql["rescue.dimenidrate"] == True).sum()}')
print(f'rescue.bromopride: {(data_for_sql["rescue.bromopride"] == True).sum()}')

rescue.dexametasone: 10
rescue.dimenidrate: 61
rescue.bromopride: 540

In [47]:
# Can't tell if there's any sort of corrleation
data_for_sql[(data_for_sql['intraoperative.droperidol'] == False) &
            (data_for_sql['regular.droperidol'] == False)].iloc[:,np.r_[36,58]]

      intraoperative.droperidol regular.droperidol
num
293                       False              False
590                       False              False
1262                      False              False
124                       False              False
237                       False              False
...                         ...                ...
613                       False              False
892                       False              False
1061                      False              False
1173                      False              False
1237                      False              False

[1762 rows x 2 columns]

In [48]:
drug_nans = ['rescue.dimenidrate', 'rescue.bromopride', 'rescue.metoclopramide', 'regular.ondansetron', 
             'regular.dexamethasone', 'regular.dimenidrate', 'regular.bromopride', 'regular.metoclopramide',
             'regular.droperidol']
for drugs in drug_nans:
    data_for_sql[drugs].fillna('',inplace=True)

In [49]:
data_for_sql[data_for_sql['ever.smoked.1'] == True].iloc[:,59:61]

      ever.smoked.1 when.stopped.smoking
num
124            True       d.>6months.ago
237            True       d.>6months.ago
736            True       d.>6months.ago
1304           True       d.>6months.ago
1831           True       d.>6months.ago
...             ...                  ...
1814           True                  NaN
404            True             a.smokes
613            True       d.>6months.ago
632            True       d.>6months.ago
873            True       d.>6months.ago

[881 rows x 2 columns]

In [50]:
# Questionable status on 75 smoking patients (quit or no?). Will leave NaN and examine later to see if assumptions possible
data_for_sql['when.stopped.smoking'].value_counts()

e.never.smoked      1047
d.>6months.ago       585
c.1-6.months.ago     103
a.smokes              85
b.1.month.ago         33
Name: when.stopped.smoking, dtype: int64

In [51]:
# Map the time lapsed since quitting
smoke_scale = [1, 2, 3, 5, 4]
smoke_key_list = list(data_for_sql['when.stopped.smoking'].value_counts().index)
smoke_scale_dict = dict(zip(smoke_key_list, smoke_scale))
smoke_scale_dict

{'e.never.smoked': 1,
 'd.>6months.ago': 2,
 'c.1-6.months.ago': 3,
 'a.smokes': 5,
 'b.1.month.ago': 4}

In [52]:
# converted when.stopped.smoking to nominal scale
data_for_sql['when.stopped.smoking'] = data_for_sql['when.stopped.smoking'].map(smoke_scale_dict)

In [53]:
# replace unknown stop date NaNs
data_for_sql['when.stopped.smoking'].fillna('', inplace=True)

In [54]:
temp_smokes = data_for_sql[data_for_sql['ever.smoked.1'] == True].loc[:,'packets.years']

In [55]:
temp_smokes.str.strip()
temp_smokes.drop(1620, inplace=True)

/Users/paulchung/opt/anaconda3/envs/metis/lib/python3.8/site-packages/pandas/core/generic.py:3939: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(obj)

In [56]:
med_smoked_packs = temp_smokes.astype(float).median()

In [57]:
# For ever.smoked.1 == False, replacing packets.years to 0 and for True, replacing NaN with the median 15
data_for_sql['packets.years'] = data_for_sql.apply(lambda row: 0 if (row['ever.smoked.1'] == False) &
                                                  (row['packets.years'] is np.nan) else row['packets.years'], axis=1)

In [58]:
data_for_sql['packets.years'] = data_for_sql.apply(lambda row: med_smoked_packs if (row['ever.smoked.1'] == True) &
                                                  (row['packets.years'] is np.nan) else row['packets.years'], axis=1)

In [59]:
# patients with no nausea or ponv diagnosis overlap; using blanks as placeholders for NaN
data_for_sql[data_for_sql['nausea.24h'] != data_for_sql['ponv']].head()

,sex,age,Apfel,previous.ponv,postoperative.opioids,non.smoker,surgical.procedure,surgery.group,chronic opioid user,previous.chemotherapy,...,regular.droperidol,ever.smoked.1,when.stopped.smoking,packets.years,nausea.24h,ponv,nausea24h.intensity,vomiting24h,vomiting24h.count,intraoperative.antiemectics.count
num,,,,,,,,,,,,,,,,,,,,,
1858,Female,76,3,False,True,True,Anexectomia/Ooforectomia,Gynaecological Surgery,False,True,...,False,True,2,7,NaN,NaN,NaN,False,0.0,1
971,Female,81,2,False,False,True,Cirurgia Gastrointestinal,Gastrointenstinal Surgery,False,True,...,,False,1,0,NaN,NaN,NaN,False,0.0,3
416,Male,61,1,False,True,False,Esofagectomia,Gastrointenstinal Surgery,False,True,...,False,True,2,10,NaN,NaN,NaN,NaN,NaN,0
1192,Female,85,3,False,True,True,Esofagectomia,Gastrointenstinal Surgery,False,True,...,False,False,1,0,NaN,NaN,NaN,NaN,NaN,0
979,Female,50,2,False,True,False,Laparotomia Exploradora,Exploratory Laparotomy,False,True,...,False,True,3,40,NaN,NaN,NaN,True,NaN,0

In [60]:
data_for_sql['nausea.24h'].fillna('',inplace=True)
data_for_sql['ponv'].fillna('',inplace=True)

In [61]:
# remaining data trivial for the analysis; filling nan with blanks
data_for_sql['nausea24h.intensity'].fillna('', inplace=True)
data_for_sql['vomiting24h'].fillna('', inplace=True)
data_for_sql['vomiting24h.count'].fillna('', inplace=True)

In [63]:
# Convert packets.years to float
data_for_sql.loc[1620,'packets.years'] = 0
data_for_sql['packets.years'] = data_for_sql['packets.years'].astype(float)

In [64]:
data_for_sql.loc[1620,'packets.years']

0.0

In [65]:
data_for_sql.to_csv('../SQL_load/PONV_clean.csv')

## Additional tables to make
#### The following data was aggregated to be converted into SQL to convert text to ordinal categorical data:
- surgery types
- chemo emeogenicity table mapping
- smoke table mapping
- apfel score probability

In [66]:
procedures_pr = data_for_sql['surgical.procedure'].unique()
procedures_pr

array(['Cirurgia Gastrointestinal', 'Amputao de Membro',
       'Anexectomia/Ooforectomia', 'Artoplastia Quadril',
       'Artrodese Espinhal', 'Cirurgia biliodigestiva',
       'Cirurgia de Cabea e Pescoo', 'Cirurgia Plstica',
       'Cirurgia Torcica', 'Cirurgias Ortopdicas', 'Cistectomia',
       'Citorreduo  ', 'Esofagectomia', 'Hepatectomia', 'Histerectomia',
       'Histerectomia VLP ', 'Laparotomia Exploradora',
       'Linfadenectomia Extenso', 'Mastectomia', 'Nefrectomia', 'Outros',
       'Pancreatectomia', 'Prostatectomia', 'Resseco TU partes moles',
       'Setorectomia Mamria'], dtype=object)

In [67]:
procedures_en = ['Gastrointestinal', 'Limb Amputation', 'Anexectomy/Ovariectomy/', 'Hip Arthoplasty',
               'Spine Surgery', 'Gallbladder', 'Head/Neck', 'Plastic', 'Thoracic', 'Orthopedic',
               'Cystectomy', 'Cytoreduction', 'Esophagectomy', 'Hepatectomy', 'Hysterectomy', 'Hysterectomy VLP',
               'Exploratory Laparotomy', 'Extensive Lymphadenectomy', 'Mastectomy', 'Nephrectomy', 'Other',
               'Pancreatectomy', 'Prostatectomy', 'Soft Tissue Resection', 'Breast Lumpectomy']

In [68]:
proc_trans = dict(zip(procedures_pr,procedures_en))
proc_table = pd.Series(proc_trans, name='Procedure_EN')
proc_table.index.name='surgical_procedure'
proc_table.reset_index().head()

          surgical_procedure             Procedure_EN
0  Cirurgia Gastrointestinal         Gastrointestinal
1        Amputao de Membro          Limb Amputation
2   Anexectomia/Ooforectomia  Anexectomy/Ovariectomy/
3        Artoplastia Quadril          Hip Arthoplasty
4         Artrodese Espinhal            Spine Surgery

In [69]:
#proc_table.to_csv('../SQL_load/proced_trans.csv')

In [70]:
apfel_dict = {0:.1,
             1:.2,
             2:.4,
             3:.6,
             4:.8}
apfel_table = pd.Series(apfel_dict, name='PONV %')
apfel_table.index.name='Apfel Score'
apfel_table.reset_index()

   Apfel Score  PONV %
0            0     0.1
1            1     0.2
2            2     0.4
3            3     0.6
4            4     0.8

In [71]:
#proc_table.to_csv('../SQL_load/apfel_table.csv')

In [72]:
chemo_emeto_dict = dict(zip(data_for_sql['chemotherapy.emetogenicity'].unique(),
                            raw_df['chemotherapy.emetogenicity'].unique()))
chemo_emet_table = pd.Series(chemo_emeto_dict, name='Description')
chemo_emet_table.index.name='Level'
chemo_emet_table.reset_index()

  Level         Description
0     3  c.moderate(30-90%)
1     4        d.high(>90%)
2                       NaN
3     2       b.low(10-30%)
4     1     a.minimal(<10%)

In [73]:
#chemo_emet_table.to_csv('chemo_emet_table.csv')